<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

<display-name>Web Application</display-name>
    <servlet>
        <servlet-name>RacesServlet</servlet-name>
        <servlet-class>com.shilovich.hrbet.controller.RacesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RacesServlet</servlet-name>
        <url-pattern>/races</url-pattern>
    </servlet-mapping>
</web-app>
